<div class="container">
    <h1 i18n class="text-center">My applications</h1>
    <ngb-accordion #acc="ngbAccordion" activeIds="pending">


      <ngb-panel id="pending">
        <ng-template ngbPanelTitle>
          <span i18n>Pending </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4" *ngFor="let application of applications">
                <ng-container *ngIf="application.applicationStatus === 'pending' && !application.tripDeletedOrCancel">
                  <div class="card mb-3">
                    <div class="card-header text-center bold-text">{{ application.tripTitle }}</div>
                    <div class="card-body" style="background-color: #9ad5da">
                      <p class="card-text"><strong><ng-container i18n>Start trip date:</ng-container></strong>  {{ transformDate(application.startTripDate) }}</p>
                      <p class="card-text"><strong><ng-container i18n>Application date:</ng-container></strong> {{ transformDate(application.createdAt) }}</p>
                      <p class="card-text"><strong><ng-container i18n>Applicant:</ng-container></strong> {{ application.actorDescription }}</p>
                      <p class="card-text"><strong><ng-container i18n>Application comments:</ng-container></strong> {{ application.comments }}</p>
                      <h5 class="card-title text-center display-4 bold-text">
                        {{ application.tripPrice }} €
                      </h5>                        
                    </div>
                    <div>
                      <a *ngIf="userRole === 'EXPLORER'">
                        <button i18n class="btn btn-primary me-2" (click)="cancel(application.id)">Cancel</button>
                      </a>
                      <a *ngIf="userRole === 'MANAGER'">
                        <button i18n class="btn btn-primary me-2" (click)="accept(application.id)">Accept</button>
                        <button i18n class="btn btn-primary me-2" (click)="reject(application.id)">Reject</button>
                      </a>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="due">
        <ng-template ngbPanelTitle>
          <span i18n>Due </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4" *ngFor="let application of applications">
                <ng-container *ngIf="application.applicationStatus === 'due' && application.tripDeletedOrCancel == false">
                  <div class="card mb-3">
                    <div class="card-header text-center bold-text">{{ application.tripTitle }}</div>
                    <div class="card-body" style="background-color: #d3dd75">
                      <p class="card-text"><strong><ng-container i18n>Start trip date:</ng-container></strong>  {{ transformDate(application.startTripDate) }}</p>
                      <p class="card-text"><strong><ng-container i18n>Application date:</ng-container></strong> {{ transformDate(application.createdAt) }}</p>
                      <p class="card-text"><strong><ng-container i18n>Applicant:</ng-container></strong> {{ application.actorDescription }}</p>
                      <p class="card-text"><strong><ng-container i18n>Application comments:</ng-container></strong> {{ application.comments }}</p>
                      <h5 class="card-title text-center display-4 bold-text">
                        {{ application.tripPrice }} €
                      </h5>                        
                    </div>
                    <div>
                      <a *ngIf="userRole === 'EXPLORER'">
                        <button i18n class="btn btn-primary me-2" (click)="cancel(application.id)">Cancel</button>
                      </a>
                      <a *ngIf="userRole === 'EXPLORER'" [routerLink]="['/checkout']" [queryParams]="{ applicationId: application.id }">
                        <button i18n class="btn btn-primary me-2">Pay</button>
                      </a>                      
                    </div>
                  </div>
                 
                </ng-container>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="accepted">
        <ng-template ngbPanelTitle>
          <span i18n>Accepted </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4" *ngFor="let application of applications">
                <ng-container *ngIf="application.applicationStatus === 'accepted'">
                  <div class="card mb-3">
                    <div class="card-header text-center bold-text">{{ application.tripTitle }}</div>
                    <div class="card-body" style="background-color: #72d47f">
                      <p class="card-text"><strong><ng-container i18n>Start trip date:</ng-container></strong>  {{ transformDate(application.startTripDate) }}</p>
                      <p class="card-text"><strong><ng-container i18n>Application date:</ng-container></strong> {{ transformDate(application.createdAt) }}</p>
                      <p class="card-text"><strong><ng-container i18n>Applicant:</ng-container></strong> {{ application.actorDescription }}</p>
                      <p class="card-text"><strong><ng-container i18n>Application comments:</ng-container></strong> {{ application.comments }}</p>
                      <h5 class="card-title text-center display-4 bold-text">
                        {{ application.tripPrice }} €
                      </h5>                        
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="rejected">
        <ng-template ngbPanelTitle>
          <span i18n>Rejected</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4" *ngFor="let application of applications">
                <ng-container *ngIf="application.applicationStatus === 'rejected'">
                  <div class="card mb-3">
                    <div class="card-header text-center bold-text">{{ application.tripTitle }}</div>
                    <div class="card-body" style="background-color: #c0527c">
                      <p class="card-text"><strong><ng-container i18n>Start trip date:</ng-container></strong>  {{ transformDate(application.startTripDate) }}</p>
                      <p class="card-text"><strong><ng-container i18n>Application date:</ng-container></strong> {{ transformDate(application.createdAt) }}</p>
                      <p class="card-text"><strong><ng-container i18n>Applicant:</ng-container></strong> {{ application.actorDescription }}</p>
                      <p class="card-text"><strong><ng-container i18n>Application comments:</ng-container></strong> {{ application.comments }}</p>
                      <p class="card-text"><strong><ng-container i18n>Reject reasons:</ng-container></strong> {{ application.reasons }}</p>
                      <h5 class="card-title text-center display-4 bold-text">
                        {{ application.tripPrice }} €
                      </h5>                        
                    </div>
                  </div>
                </ng-container>
                
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      
     
    </ngb-accordion>
  </div>
  
  