<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
                <fieldset>
                    <legend class="text-center"><ng-container i18n>Register a new use</ng-container></legend>

                    <div class="form-group">
                        <label i18n for="role">Role:</label>
                        <div class="custom-select">
                            <select id="role" class="form-control" formControlName="role">
                                <option i18n disabled selected>Select a role</option>
                                <ng-container *ngFor="let role of roleList">
                                    <ng-container *ngIf="role !== 'Anonymous'">
                                        <option [value]="role">{{ role }}</option>
                                    </ng-container>
                                </ng-container>
                            </select>
                            <div class="arrow">
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label i18n for="name">Name:</label>
                        <input id="name" type="text" formControlName="name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label i18n for="surname">Surname:</label>
                        <input id="surname" type="text" formControlName="surname" class="form-control">
                    </div>

                    <div class="form-group">
                        <label i18n for="phone">Phone:</label>
                        <input id="phone" type="text" formControlName="phone" class="form-control">
                    </div>

                    <div class="form-group">
                        <label i18n for="address">Address:</label>
                        <input id="address" type="text" formControlName="address" class="form-control">
                    </div>

                    <div class="form-group">
                        <label i18n for="email">Email:</label>
                        <input id="email" type="email" formControlName="email" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label i18n for="password">Password:</label>
                        <input id="password" type="password" formControlName="password" minlength="6" class="form-control" required>
                    </div>

                    <div class="form-group text-center">
                        <button i18n type="submit" class="btn btn-primary btn-block mt-2">
                            Sing In
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
