<form *ngIf="newTripForm" class="form-container" [formGroup]="newTripForm" (ngSubmit)="tripId ? onEdit() : onSubmit()">
    <section class="form-inputs">
        <h2 i18n>Trip</h2>
        <div class="form-group">
            <label i18n for="title" i18n>Title:</label>
            <input type="text" class="form-control" formControlName="title" id="title" placeholder="">
        </div>
        <div class="form-group">
            <label i18n for="description" i18n>Description:</label>
            <input type="text" class="form-control" formControlName="description" id="description" placeholder="">
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label i18n for="startedAt" i18n>Started At:</label>
                <input type="date" class="form-control" formControlName="startedAt" id="startedAt" placeholder="">
            </div>
            <div class="form-group col-md-6">
                <label i18n for="endAt" i18n>End At:</label>
                <input type="date" class="form-control" formControlName="endAt" id="endAt" placeholder="">
            </div>
        </div>
        <h4 i18n>Requirements</h4>
        <!--Requirements-->
        <div formArrayName="requirements">
            <div class="form-group">
                <div class="form-group" *ngFor="let req of requirements.controls; index as i ">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" formControlName="{{i}}" required>
                        <button type="button" class="btn btn-outline-secondary" (click)="removeRequirement(i)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
                <button type="button" class="btn-delete-stage mt-2" (click)="addRequirement()" i18n>Add Requirement</button>
            </div>
        </div>
        <h4 i18n>Photos</h4>
        <!--photos-->
        <div formArrayName="photos">
            <div class="form-group">
                <div class="form-group" *ngFor="let photo of photos.controls; index as i ">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" formControlName="{{i}}">
                        <button type="button" class="btn btn-outline-secondary" (click)="removePhotos(i)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
                <button type="button" class="btn-delete-stage mt-2" (click)="addPhoto()" i18n>Add photo</button>
            </div>            
        </div>
        <h4 i18n>Stages</h4>
        <!--Stages-->
        <div formArrayName="stages" class="stage-container">
            <div class="form-group" *ngFor="let stage of stages.controls; index as i ">
                <div class="box-stage" formGroupName="{{i}}">
                    <div class="box-stage-content">
                        <label i18n for="title" i18n>Title:</label>
                        <input type="text" class="form-control" placeholder="" formControlName="title" required>
                        <label i18n for="description" i18n>Description:</label>
                        <input type="text" class="form-control" placeholder="" formControlName="description" required>
                        <label i18n for="price" i18n>Price:</label>
                        <input type="number" class="form-control" placeholder="" formControlName="price" required>
                    </div>
                    <button type="button" class="btn btn-outline-secondary delete-button" (click)="removeStage(i)">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>  
            <button type="button" class="btn-delete-stage" (click)="addStage()" i18n>Add Stage</button>
                      
        </div>
        
        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-primary btn-lg" i18n [disabled]="newTripForm.invalid">Save</button>
        </div>
    </section>
</form>
