<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="rounded p-4 shadow" (ngSubmit)="onLogin(f)" #f="ngForm">
                <div class="form-group">
                    <label i18n for="email">Email:</label>
                    <input class="form-control form-control-sm" type="email" id="email" name="email" i18n-placeholder
                    placeholder="Enter email" ngModel>
                </div>

                <div class="form-group">
                    <label i18n for="password">Password:</label>
                    <input class="form-control form-control-sm" type="password" id="password" name="password" i18n-placeholder
                    placeholder="Enter password" ngModel>
                </div>

                <div class="text-center mt-2 row">
                    <div class="col">
                        <button class="btn btn-primary btn-lg btn-block" (click)="goBack()" i18n><i class="fas fa-arrow-left"></i> Back</button>
                    </div>
                    <div class="col">
                        <button i18n type="submit" class="btn btn-warning btn-lg btn-block">Login</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
