<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a href="/" id="enlaceInicio">
            <img src="../../../../assets/images/logo.png" alt="Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="activeRole !== 'anonymous' ">
                <li class="nav-item dropdown">
                    <a i18n class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Trips
                    </a>
                    <ul class="dropdown-menu">
                        
                        <li *ngIf="activeRole !== 'administrator'"><a i18n class="dropdown-item" routerLink="/applies">Applies</a></li>
                        <!--<li><a i18n class="dropdown-item" routerLink="/payments">Payments</a></li>-->
                        <li><a i18n class="dropdown-item" routerLink="/sponsorships">Sponsorships</a></li>
                        <li *ngIf="activeRole === 'manager'"><a i18n class="dropdown-item" routerLink="/trips/new" >New Trip</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="activeRole === 'administrator'">
                <li class="nav-item dropdown">
                    <a i18n class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu">
                        <li><a i18n class="dropdown-item" routerLink="/dashboard">Dashboard</a></li>
                        <li><a i18n class="dropdown-item" href="/register">Managers</a></li>
                        <li><a i18n class="dropdown-item" routerLink="/sponsorships">Sponsorships</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="activeRole === 'sponsor'">
                <li class="nav-item dropdown">
                    <a i18n class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sponsorships</a>
                    <ul class="dropdown-menu">
                        <li><a i18n class="dropdown-item" routerLink="/sponsorships">Sponsorships</a></li>
                        <li><a i18n class="dropdown-item" routerLink="/payments">Payments</a></li>              
                    </ul>
                </li>
            </ul>
            
            <div class="justify-content-center d-flex" style="margin: 0 auto;">
                <form class="d-flex" role="search"  (ngSubmit)="onSearch(f)" #f="ngForm">
                    <input id="searchValue" name="searchValue" ngModel class="form-control me-2" type="search" i18n-placeholder placeholder="Search" aria-label="Search">
                    <button i18n class="btn btn-outline-success me-2" type="submit">Search</button>
                </form>
                <button class="btn btn-secondary me-2" (click)="changeLanguage('en')">EN</button>
                <button class="btn btn-secondary me-2" (click)="changeLanguage('es')">ES</button>
            </div>

            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto;">
                <li class="nav-item" *ngIf="!currentActor">
                    <a class="nav-link active" aria-current="page" routerLink="/register">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <ng-container i18n> Register</ng-container>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!currentActor">
                    <a class="nav-link active" routerLink="/login">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <ng-container i18n> Login</ng-container>
                    </a>
                </li>
            </ul>
            <a class="nav-link activ" *ngIf="activeRole === 'administrator' && currentActor" aria-current="page" routerLink="/register" style="margin-right: 2%;">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <ng-container i18n> Register</ng-container>
            </a>
            <div class="dropdown text-end ml-5" *ngIf="currentActor">
                <a href="#" class="d-block link-dark text-decoration-nonedropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo"width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" data-popper-placement="bottom-end"style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform:translate3d(0.5px, 34px, 0px);">
                    <li><a i18n class="dropdown-item" (click)="editUser()">Profile</a></li>
                    <li><a i18n class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div [@logoutAnimation]="logoutAnimationState" class="logout-popup">
    <p><ng-container i18n>We are waiting for you on your next adventure!</ng-container><a (click)="cerrarAnimacion()"><i class="fa fa-window-close" style="margin-left: 2%;" aria-hidden="true"></i></a></p>
</div>
  