<div class="modal-header">
    <ng-container>
      <h4 class="modal-title">Add a cancel reason</h4>
    </ng-container>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <textarea class="form-control" id="comment" [(ngModel)]="comment" name="comment" [required]="true"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
    <ng-container>
      <button type="button" class="btn btn-danger" [disabled]="!comment.trim()" (click)="cancelTrip()">Cancel Trip</button>
    </ng-container>
  
  </div>
  