<div class="card mx-auto mt-4" style="width: 18rem;">
    <img src="https://res.cloudinary.com/lastminute-contenthub/s--BzOJUV1q--/c_crop,h_3840,w_5760,x_0,y_0/c_limit,h_999999,w_1920/f_auto/q_auto:eco/v1/DAM/Photos/Destinations/Americas/Dominican%20Republic/shutterstock_270486656" class="card-img-top" alt="...">
    <div class="card-body mb-2">
      <h5 class="card-title text-center">{{trip.title}}</h5>
      <h5 class="card-title text-center">{{trip.ticker}}</h5>
      <p class="card-text ml-2 text-center">{{trip.description}}</p>
    </div>
    <div class="card-body mb-2">
        <p class="card-text text-center" style="font-size:20px"><strong>{{'Precio: '}}</strong>&nbsp;{{trip.price}}{{'EUR'}}</p>
        <div class="row text-center">
            <div class="col-md-4">
                <p class="card-text ml-2"><strong>{{'Fecha Inicio: '}}</strong>{{trip.startedAt}}</p>
            </div>
            <div class="col-md-4">
                <p class="card-text ml-2"><strong>{{'Fecha Fin: '}}</strong>{{trip.endAt}}</p>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor = "let item of trip.requirements;">
            <p class="card-text ml-2 m2-1">{{item}}</p>
        </li>
    </ul>
</div>
