<div class="breadcrumb">
    <legend class="text-center">List of Items</legend>
</div>
<div *ngIf="trips && trips.length === 0">
    Sorry, no items found
</div>

<div *ngIf="trips && trips.length > 0" class="row .row-cols-3 row-cols-md-3 g-4">
    <div *ngFor="let trip of trips" class="card">
        <div class="card-header">
            <h4 class="card-title text-center">{{trip.title}}</h4>
        </div>
        <div class="card-body">
            <span class="badge bg-primary">{{trip.price}}</span>
            <div class="container-fluid text-center" ng-init="advstatus=true">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let image of trip.photos">
                        <img [src]="image" class="d-block card-img-top" alt="...">
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
        <details>
            <summary ng-hide="advstatus">{{trip.description}}
                <span class="badge bg-light text-dark" ng-click="advstatus=true">
                    (...)
                </span>
            </summary>
            <p class="card-text">{{trip.description | slice:50}}</p>
        </details>
        <div class="card-footer text-center">
            <a *ngIf="checkRole('ADMINISTRADOR')"
            routerLink="/trips/{{trip.id}}/edit"
            class="pull-left">
                <i class="fa fa-pencil" aria-hidden="true">Edit</i>
            </a>
            <a *ngIf="!checkRole('ADMINISTRADOR')"
            routerLink="/trips/{{trip.id}}"
            class="pull-left">
                <i class="fa fa-search-plus" aria-hidden="true">Details</i>
            </a>
        </div>
    </div>
</div>