img {
    width: 30%;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media(min-width: 34em) {
    .card-check > .card {
        width: 29%;
        flex-wrap: wrap;
        flex: initial;
    }

}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
    content: "";
}