<div class="breadcrumb">
    <legend class="text-center"><ng-container i18n>List of Trips</ng-container></legend>
</div>
<button i18n class="btn btn-primary me-2" (click)="navigateToDatatableView()">Change to datatable view</button>
<hr>
<div i18n *ngIf="trips && trips.length === 0">
    Sorry, no trips found
</div>

<div *ngIf="trips && trips.length > 0" class="row .row-cols-3 row-cols-md-3 g-4">
    <div *ngFor="let trip of trips" class="card">
        <div class="card-header">
            <h4 class="card-title text-center">{{trip.title}}</h4>
        </div>
        <div class="card-body">
            <span class="badge bg-primary">{{trip.price}}</span>
            <div class="container-fluid text-center">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let image of trip.photos">
                        <img [src]="image" class="d-block card-img-top" alt="...">
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
        <details>
            <summary>{{trip.description}}
                <span class="badge bg-light text-dark" (click)="advstatus=true">
                    (...)
                </span>
            </summary>
            <p class="card-text">{{trip.description | slice:50}}</p>
        </details>
        <div class="card-footer text-center">
            <a *ngIf="checkRole('ADMINISTRADOR,MANAGER')"
            routerLink="/trips/{{trip.id}}/edit"
            class="pull-left">
                <i class="fa fa-pencil" aria-hidden="true" i18n>Edit</i>
            </a>
            <a *ngIf="!checkRole('ADMINISTRADOR,MANAGER')"
            routerLink="/trips/{{trip.id}}"
            class="pull-left">
                <i class="fa fa-search-plus" aria-hidden="true" i18n>Details</i>
            </a>
        </div>
    </div>
</div>
