<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Acme<span>Explorer</span></h3>
        <p class="footer-links">
            <a href="/terms-and-conditions">
                {{'Terms and Conditions'}}
            </a>
        </p>
        <p class="footer-company-name">
            Acme Explorer © 2024 {{today}}
        </p>
        <span>
            <b>{{'Visitors'}}</b>
            {{visitorNumber}}
        </span>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Av. de la Reina Mercedes, s/n, 41012</span>Seville, Spain</p>
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>
            <p>+34 654321987</p>
        </div>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <p><a href="mailto:support@acme-explorer.com" style="color: #d3b926">
                {{'support@acme-explorer.com'}}
            </a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>{{'About us'}}</span><br>
            {{'Streamline your travel bookings with our intuitive app: book flights, hotels, and activities all in one place for a hassle-free travel experience.'}}
        </p>
        <div class="footer-icons">
            <ul>
                <li class="ms-3 fa-brands fa-twitter">
                    <a href="https://twitter.com/acmeexplorer" aria-label="Visitar nuestro perfil de Twitter" style="color: #d3b926">Twitter</a>
                </li>
                <li class="ms-3 fa-brands fa-instagram">
                    <a href="https://www.instagram.com/acmeexplorer" aria-label="Visitar nuestro perfil de Instagram" style="color: #d3b926">Instagram</a>
                </li>
                <li class="ms-3 fa-brands fa-facebook">
                    <a href="https://www.facebook.com/acmeexplorer" aria-label="Visitar nuestra página de Facebook" style="color: #d3b926">Facebook</a>
                </li>
            </ul>
        </div>
    </div>
    
</footer>